<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi minima ad totam ducimus doloribus, explicabo sed natus soluta velit possimus tempora iste aperiam quas qui! Excepturi repellendus eveniet magni distinctio totam iste nesciunt repellat quae, deserunt provident optio voluptas maxime tempora illum ex. Sit iure, ipsum aperiam quis accusantium exercitationem?</p>
    </div>
</div>