<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa aspernatur quam placeat minus quas assumenda quae deleniti suscipit, ea ab, vitae quisquam totam molestiae fuga velit blanditiis iusto? Suscipit, consequatur.</p>
    <a href="https://github.com/juaparo" class="btn btn-primary btn-lg">JP Development</a>
</div>